body{
background-color: rgb(234, 82, 27);
    
    /* margin: auto; */

font-family: sans-serif;
}
.container{
    width: 400px;
    padding: 33px;
    text-align: center;
    background-color: rgb(191, 197, 113);
    margin-top: 33px;
    margin-left: 33px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 33%;
    border-radius: 5px;
    /* display: flex; */

}
input{
   width: 270px;
   padding: auto;
   border-radius: 5px;
  

}

h1{
    text-align: center;
    
    
}
.text ul li {
    position: relative;
    
    color: rgb(11, 11, 11);
    text-align: left;
    padding: 5px;
    width: 340px;
    background-color: white;
    background-color: rgba(137, 175, 175, 0);
}
.text ul li span{
   
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: black;
    background-color: red;
    border-radius: 50%;
    height:auto;
    width: 20px;
    text-align: center;
    font-weight: 400;
    
   
}
